.error-message {
  font-weight: bold;
  color: #ec5968;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #676fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
  width: 100%;
  height: 45px;
  background-color: #1b2531;
  border: 1px solid #384459;
  border-radius: 10px;
  color: #9aaabe;
  padding: 0 20px;
  font-size: 18px;  
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

li {
  margin-bottom: 20px;
  border: 1px solid #384459;
  padding: 10px;
}

li div {
  margin-bottom: 5px;
}

li div:last-child {
  margin-bottom: 0;
}

li button {
  padding: 8px 10px;
  background-color: #676fff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

li button:last-child {
  margin-right: 0;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.edit-form input[type="text"],
.edit-form input[type="number"],
.edit-form input[type="date"] {
  background-color: #1b2531;
  border: 1px solid #384459;
  border-radius: 10px;
  color: #9aaabe;
  padding: 0 18px;
  font-size: 18px;  
}

.edit-form button {
  padding: 8px 18px;
  background-color: #676fff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.edit-form button:last-child {
  margin-left: 5px;
}

.cancel-button {
  margin-top: 5px;
  background-color: #ec5968;
  color: #fff;
}

.edit-item {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #384459;
  border-radius: 10px;
  color: #9aaabe;
  background-color: #1b2531;
}

.edit-item div {
  margin-bottom: 8px;
  color: #9aaabe;
  background-color: #1b2531;
}

.edit-item div:last-child {
  margin-bottom: 0;
}

.edit-input {
  width: 48%;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 2px;
  border: 1px solid #384459;
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;  
}
